# Ignore everything
*

# But keep these folders
!Projects/
!Projects/**
!notebooks/
!TutorialSet1/
!TutorialSet1/**
!TutorialSet2/
!TutorialSet2/**

# Also keep .gitignore itself
!.gitignore
!requirements.txt
!README.md
